<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SHIELD</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #e65447;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
        width: 100px;
    }
</style>
<body>
<h3>Liste des villes où se situent nos bases secrètes</h3>
<table>
  <thead>
  <tr>
    <th>Ville</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="city : ${cities}">
    <td th:text="${city}">City</td>
  </tr>
  </tbody>
</table>
</body>
</html>